{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "endOfLine": "lf",
  "ignorePatterns": ["*.yml", "*.yaml"]
}
