<span class="highlight"><slot /></span>

<style>
  .highlight {
    background: var(--color-yellow);
    padding: 0 var(--space-2xs) var(--space-2xs);
    border-radius: var(--radius-sm);
  }
</style>
