/* ============================================
   VERTICAL FLOW
   ============================================ */

@layer typography {
    /* ----------- HR ----------- */
  hr {
    margin-block: var(--space-l);
  }
}
