---
import { Icon } from 'astro-icon/components';
import NavLink from '@components/navigation/NavLink.astro';
import PersonalLogo from '@components/ui/PersonalLogo.astro';
import SocialLinks from '@components/ui/SocialLinks.astro';
const today = new Date();
---

<footer class="ui-style dark-surface">
  <PersonalLogo />
  <section class="footer-nav-links all-caps">
    <ul class="list-reset">
      <li>
        <NavLink href={Astro.site?.href} class="h-card" title="Danny Smith">Home</NavLink>
      </li>
      <li><NavLink href="/writing">Writing</NavLink></li>
      <li><NavLink href="/notes">Notes</NavLink></li>
      <li><NavLink href="/now">Now</NavLink></li>
      <li><NavLink href="/working">Work</NavLink></li>
      <li><NavLink href="/toolbox">Toolbox</NavLink></li>
    </ul>
  </section>
  <section class="footer-rss all-caps">
    <a href="/rss.xml">All</a>
    <span class="footer-rss-separator">|</span>
    <a href="/rss/articles.xml">Articles</a>
    <span class="footer-rss-separator">|</span>
    <a href="/rss/notes.xml">Notes</a>
    <span class="footer-rss-icon-wrapper">
      <Icon name="social/rss" class="footer-rss-icon" />
    </span>
  </section>
  <div class="copyright all-caps">
    &copy; {today.getFullYear()} Danny Smith
  </div>
  <SocialLinks />
</footer>

<style>
  footer {
    position: relative;
    border-top: var(--border-width-accent) solid var(--color-accent);
    padding: var(--space-s);
  }

  .footer-nav-links {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    padding-left: calc(var(--space-s) * 2);

    li {
      margin-top: var(--space-3xs);
      line-height: var(--leading-normal);
      padding: 0;
    }
  }

  .copyright {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    position: absolute;
    right: var(--space-s);
    top: var(--space-s);
    writing-mode: vertical-rl;
  }

  .footer-rss {
    font-size: var(--font-size-sm);
    display: flex;
    justify-content: left;
    padding-left: calc(var(--space-s) * 2);
    gap: var(--space-3xs);
    margin-block: var(--space-m);
  }

  .footer-rss-icon-wrapper {
    color: var(--color-accent);
  }

  .footer-rss-separator {
    color: color-mix(in oklch, currentColor 40%, transparent);
  }

</style>
