---
// Content Components partial - Astro components for use in content
// TODO: Implement Section 4
---

<section id="content-components" class="styleguide-section flow">
  <h2>Content Components</h2>
  <p>IntroParagraph, BasicImage, Embed, BookmarkCard, Callout, Accordion, Tabs, Layout Utilities, ColorSwatch, Code Blocks - coming soon.</p>
</section>
