---
// Other Stuff partial - footnotes, special treatments, etc.
// TODO: Implement Section 7
---

<section id="other-stuff" class="styleguide-section flow">
  <h2>Other Stuff</h2>
  <p>Footnotes, inline footnotes, and other special treatments - coming soon.</p>
</section>
