---
// Typography partial - displays basic typography and some typographic HTML elements
---

<section id="typography" class="styleguide-section flow">
  <h2>Typography</h2>
  <p>Basic typography and some typographic HTML elements.</p>
</section>
