---
// Use this to wrap an article

// Import Frontmatter type from astro

export interface Props {
  url: string
  frontmatter: {
    title: string
  }
}

const { frontmatter, url } = Astro.props
---

<article class="prose">
  <h1 role="heading" aria-level="1">
    <a href={url}>{frontmatter.title}</a>
  </h1>
  <slot />
</article>

<style>
  article {
    --line-height: 1.5; /* Line height for the article. */
    --side-space: 2rem; /* Space on the left and right of the article on small screens. */

    display: grid;
    grid-template-columns:
      1fr
      min(60ch, calc(100% - calc(var(--side-space) * 2)))
      1fr;
    grid-column-gap: var(--side-space);
    grid-row-gap: calc(var(--line-height) * 1em);

    font-family: var(--font-prose);
    font-size: clamp(1rem, calc(0.6rem + 1vw), 1.4rem);

    line-height: var(--line-height);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
