---
// Link Component for my social links and the side navigation.
export interface Props {
  class: string
}

const { class: className } = Astro.props
---

<ul class={className}>
  <li>
    <a href="/writing"><strong>writing</strong></a>
  </li>
  <li>
    <a href="/toolbox"><strong>remote working</strong> toolbox</a>
  </li>
  <li>
    <a href="/reading"><strong>reading</strong></a>
  </li>
  <li>
    <a href="/youtube"><strong>youtube</strong></a>
  </li>
  <li>
    <a href="/now">what I'm up to <strong>now</strong></a>
  </li>
  <li>
    <a href="/using">stuff I'm <strong>using</strong></a>
  </li>
  <li>
    <a href="/music">my <b>music</b></a>
  </li>
  <li>
    <a href="http://newsletter.danny.is">my <strong>newsletter</strong></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/dannyasmith"
      ><strong>linkedin</strong>/dannyasmith</a
    >
  </li>
  <li>
    <a href="https://medium.com/@dannysmith"
      ><strong>medium</strong>/dannysmith</a
    >
  </li>
  <li>
    <a href="https://github.com/dannysmith"
      ><strong>github</strong>/dannysmith</a
    >
  </li>
  <li>
    <a href="https://instagram.com/dannysmith"
      ><strong>instagram</strong>/dannysmith</a
    >
  </li>
  <li>
    <a href="https://monzo.me/dannyasmith"><strong>monzo</strong>.me</a>
  </li>
  <li>
    <a href="mailto:hi@danny.is"><strong>email</strong></a>
  </li>
</ul>

<style>
  ul {
    padding: 0;
  }
  li {
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    list-style-type: none;
    padding: 0;
    border-bottom: 5px solid var(--color-link-menu-hover);
    line-height: 1.65;
  }
  strong {
    letter-spacing: 0.125ch;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--color-link-menu-bottomborder);
  }
</style>
