---
interface Props {
  size?: '3xs' | '2xs' | 'xs' | 's' | 'm' | 'l' | 'xl' | '2xl' | '3xl';
  height?: string;
}

const { size = 'm', height } = Astro.props;
---

<div
  class:list={['spacer', `size-${size}`]}
  style={height ? `height: ${height};` : undefined}
>
</div>

<style>
  .spacer {
    width: 100%;
    display: block;

    &.size-3xs { height: var(--space-3xs); }
    &.size-2xs { height: var(--space-2xs); }
    &.size-xs { height: var(--space-xs); }
    &.size-s { height: var(--space-s); }
    &.size-m { height: var(--space-m); }
    &.size-l { height: var(--space-l); }
    &.size-xl { height: var(--space-xl); }
    &.size-2xl { height: var(--space-2xl); }
    &.size-3xl { height: var(--space-3xl); }
  }
</style>
