---
interface Props {
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl' | 'xxl';
  height?: string;
}

const { size = 'md', height } = Astro.props;
---

<div 
  class:list={['spacer', size]} 
  style={height ? `height: ${height};` : undefined}
>
</div>

<style>
  .spacer {
    width: 100%;
    display: block;
  }

  .spacer.xs {
    height: var(--space-2);
  }

  .spacer.sm {
    height: var(--space-4);
  }

  .spacer.md {
    height: var(--space-6);
  }

  .spacer.lg {
    height: var(--space-10);
  }

  .spacer.xl {
    height: var(--space-12);
  }

  .spacer.xxl {
    height: var(--space-20);
  }
</disabled-style>