---
// Use this layout for articles, essays etc.

import BaseLayout from './BaseLayout.astro'
import {Article} from '@components/components'

export interface Props {
  title: string
  frontmatter: {
    title: string
  }
}

const { frontmatter } = Astro.props
const url = Astro.url.pathname
---

<BaseLayout title={frontmatter.title}>
  <main class="content" aria-label="Content">
    <Article frontmatter={frontmatter} url={url}>
      <slot />
    </Article>
  </main>
</BaseLayout>
