---
// Use this layout for articles, essays etc.

import BaseLayout from './BaseLayout.astro'
import endmark from '@images/end-mark.svg'

export interface Props {
  title: string
}

const { title } = Astro.props.frontmatter || Astro.props
const url = Astro.url.pathname
---

<BaseLayout title={title}>
  <main class="content" aria-label="Content">
    <article>
      <h1 role="heading" aria-level="1">
        <a href={url}>{title}</a>
      </h1>
      <slot />
    </article>
  </main>
</BaseLayout>

<style is:global>
  article {
    --line-height: 1.5; /* Line height for the article. */
    --side-space: 2rem; /* Space on the left and right of the article on small screens. */

    display: grid;
    grid-template-columns:
      1fr
      min(60ch, calc(100% - calc(var(--side-space) * 2)))
      1fr;
    grid-column-gap: var(--side-space);
    grid-row-gap: calc(var(--line-height) * 1em);

    font-family: var(--font-prose);
    font-size: clamp(1rem, calc(0.6rem + 1vw), 1.4rem);

    line-height: var(--line-height);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Layout grid items in the centre column */
  article > * {
    grid-column: 2 / 3;
  }

  /* Add scroll padding to the top of all elements with an ID. */
  [id] {
    scroll-margin-top: 2ex;
  }

  /* ----------- Headings ----------- */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant-ligatures: common-ligatures discretionary-ligatures;
  }

  h1 {
    font-size: 2.4em;
    font-weight: 500;
    font-variation-settings: 'opsz' 50;
    line-height: 1.25;
    margin-top: 1.5em;
  }

  h2 {
    font-size: 1.93em;
    font-weight: 600;
    margin-top: 1em;
  }

  h3 {
    font-size: 1.56em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: -0.5em;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05ch;
    margin-top: 1em;
    margin-bottom: -0.5em;
  }

  h5,
  h6 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: -1em;
  }

  /* Remove top margin from headings that are immediatly preceeded by another heading or an HR */
  :is(h1, h2, h3, h4, h5, h6, hr) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
  }

  /* ----------- Paragraphs ----------- */

  p {
    font-variant-numeric: oldstyle-nums diagonal-fractions;
    hanging-punctuation: first; /* Safari only */

    -webkit-hyphens: auto;
    hyphens: auto;
  }

  /* Use hyphens only on small viewports. */
  @media (min-width: 42em) {
    p {
      -webkit-hyphens: none;
      hyphens: none;
    }
  }
  article > p:first-of-type {
    margin-top: 3em;
  }
  /* First line of first para*/
  article > p:not(.callout):first-of-type::first-line {
    text-transform: lowercase;
    -webkit-hyphens: none;
    hyphens: none;
    font-variant-caps: small-caps;
    font-weight: 525;
  }

  /* End Mark */
  article > p:not(.callout):last-of-type:after {
    display: inline-block;
    content: ' ';
    -webkit-mask: url('/end-mark.svg');
    mask: url('/end-mark.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
    height: 0.65em;
    width: 1em;
    line-height: 0.5;
    margin-left: 0.1em;
  }

  /* Drop Cap */

  article > p:not(.callout):first-of-type::first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 4em;
    line-height: 1;
    padding-right: 0.4ch;
  }

  /* ----------- Links ----------- */

  a {
    color: inherit;
    text-decoration-color: var(--color-link-underline);
    text-decoration-thickness: 0.5px;
  }

  a:visited {
    text-decoration-color: var(--color-visited-link-underline);
  }

  a:hover,
  a:active {
    text-decoration-color: var(--color-active-link-underline);
    color: var(--color-active-link-text);
  }

  a:focus-visible {
    outline: 3px solid var(--color-red-trans50);
  }

  @media (pointer: coarse) {
    a {
      text-decoration: none;
      color: var(--color-link-text);
    }

    a:visited {
      color: var(--color-visited-link-text);
    }
  }

  h1 a {
    text-decoration: none;
    color: inherit;
  }

  /* ----------- Lists ----------- */

  li {
    padding-left: 1em;
    margin-top: 0.5em;
  }
  li:first-of-type {
    margin-top: 0;
  }

  ul,
  ol {
    font-variant-numeric: oldstyle-nums diagonal-fractions;
  }

  ul {
    padding-left: 0.4em;
    list-style-type: '•';
  }

  ol {
    padding-left: 0.4em;
  }

  ol ::marker {
    font-size: 1.4ex;
    font-variation-settings: 'opsz' 10;
    font-weight: 500;
  }

  /* ----------- Task Lists ------------ */

  .contains-task-list {
    list-style-type: none;
    padding-left: 0;
  }

  .task-list-item {
    padding-left: 0;
  }

  .task-list-item input {
    position: relative;
    height: 0.7em;
    width: 0.7em;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;

    border-radius: 2px;

    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  .task-list-item input:checked {
    color: var(--color-highlight);
    background: transparent;
  }

  .task-list-item input:checked:before {
    content: '\2713';
    position: absolute;
    top: -0.25em;
    left: 0.05em;
    font-size: 0.6em;
    font-weight: 600;
  }

  .task-list-item checinput[disabled] {
    opacity: 1;
  }

  /* ----------- Text Styles ----------- */

  strong {
    font-weight: 650;
  }

  mark {
    background: var(--color-text-highlight);
  }

  del,
  s {
    text-decoration-color: var(--color-highlight);
    font-weight: 300;
  }

  /* ----------- HR ----------- */
  hr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: visible;
    margin: 4rem 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  hr:before {
    content: '§';
    transform: translateY(-0.15em);
    background: var(--color-background);
    padding: 0 0.5em;
  }

  /* ----------- Blockquotes ----------- */
  blockquote {
    font-variant-numeric: oldstyle-nums diagonal-fractions;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: calc((1em * var(--line-height)) - 2px);
    font-style: italic;
    margin-left: 0;
  }

  /* ----------- Abrr ----------- */

  abbr {
    text-transform: lowercase;
    font-variant: small-caps;

    font-variation-settings: 'opsz' 10;
    font-weight: 380;
    font-size: 0.95em;

    text-decoration-color: rgba(0, 0, 0, 0.15);
    text-underline-position: under;
  }

  abbr[title] {
    cursor: help;
  }

  /* ----------- Code ----------- */

  code {
    font-size: 0.85em;
    padding: 0 0.5ch;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    white-space: pre;
    font-variant-numeric: initial;
  }

  pre {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: calc((1em * var(--line-height)) - 2px);
    overflow-x: scroll;
  }

  pre code {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  /* ----------- Footnotes ----------- */

  [data-footnote-ref] {
    display: inline-block;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    font-size: 0.7em;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 0.05ch;
    text-decoration: none;
    color: var(--color-highlight);
  }

  /* ----------- Bleeding out of the layout ----------- */

  article > .bleed-left {
    grid-column: 1 / 3;
  }
  article > .bleed-right {
    grid-column: 2 / 4;
  }
  article > .bleed-full {
    grid-column: 1 / 4;
  }

  /* ----------- Images ----------- */
  article > .border {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
  }
</style>
