---
import { Icon } from 'astro-icon/components';
---

<section class="social-links">
  <ul>
    <li>
      <a
        href="https://bsky.app/profile/danny.is"
        title="BlueSky Profile"
        target="_blank"
        rel="noopener noreferrer"><Icon name="social/bluesky" /></a
      >
    </li>
    <li>
      <a href="/linkedin" title="LinkedIn Profile" target="_blank" rel="noopener noreferrer"
        ><Icon name="social/linkedin" /></a
      >
    </li>
    <li>
      <a href="/youtube" title="Youtube Channel" target="_blank" rel="noopener noreferrer"
        ><Icon name="social/youtube" /></a
      >
    </li>
    <li>
      <a
        href="https://instagram.com/dannysmith"
        title="Instagram Profile"
        target="_blank"
        rel="noopener noreferrer"><Icon name="social/instagram" /></a
      >
    </li>
  </ul>
</section>

<style>
  .social-links {
    ul {
      display: flex;
      gap: var(--space-4);
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    li {
      width: var(--space-10);
      list-style-type: none;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: var(--radius-full);
      aspect-ratio: 1;
      color: inherit;
      text-decoration: none;
      transition: background-color var(--duration-fast) var(--ease-default);
    }

    a:hover,
    a:active,
    a:focus {
      background-color: var(--color-footer-social-hover);
      color: var(--color-footer-link-hover);
    }
  }

  @media (max-width: 600px) {
    .social-links a {
      min-width: 44px; /* Touch target */
      min-height: 44px;
    }
  }
</disabled-style>
