---
import { Icon } from 'astro-icon/components';
---

<section class="social-links">
  <ul class="list-reset">
    <li>
      <a
        href="https://bsky.app/profile/danny.is"
        title="BlueSky Profile"
        target="_blank"
        rel="noopener noreferrer"><Icon name="social/bluesky" /></a
      >
    </li>
    <li>
      <a href="/linkedin" title="LinkedIn Profile" target="_blank" rel="noopener noreferrer"
        ><Icon name="social/linkedin" /></a
      >
    </li>
    <li>
      <a href="/youtube" title="Youtube Channel" target="_blank" rel="noopener noreferrer"
        ><Icon name="social/youtube" /></a
      >
    </li>
    <li>
      <a
        href="https://instagram.com/dannysmith"
        title="Instagram Profile"
        target="_blank"
        rel="noopener noreferrer"><Icon name="social/instagram" /></a
      >
    </li>
  </ul>
</section>

<style>
  .social-links {
    ul {
      display: flex;
      justify-content: center;
      margin: 0;
    }

    li {
      margin: 0;
    }

    a {
      display: flex;
      width: var(--space-l);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-full);
      aspect-ratio: 1;
      color: inherit;
      transition: background-color var(--duration-fast) var(--ease-in-out);

    }

    a:is(:hover, :active, :focus) {
      background-color: color-mix(in oklch, currentColor 15%, transparent);
    }
  }

</style>
