---
import { Icon } from 'astro-icon/components';
import { getConfig } from '@config/config';

const config = getConfig();
const footerProfiles = config.socialProfiles.filter(p => 'showInFooter' in p && p.showInFooter);
---

<section class="social-links">
  <ul class="list-reset">
    {footerProfiles.map(profile => (
      <li>
        <a
          href={profile.url}
          title={`${profile.name} Profile`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name={profile.icon} />
        </a>
      </li>
    ))}
  </ul>
</section>

<style>
  .social-links {
    ul {
      display: flex;
      justify-content: center;
    }

    a {
      display: flex;
      width: var(--space-l);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-full);
      aspect-ratio: 1;
      color: inherit;
      transition: background-color var(--duration-fast) var(--ease-in-out);

    }

    a:is(:hover, :active, :focus) {
      background-color: color-mix(in oklch, currentColor 15%, transparent);
    }
  }

</style>
